{% extends 'grid.html.twig' %}

{% block grid_header_label %}
    {% if sort_route is defined and sort_route_parameters is defined %}
        <a
            href="{{ path(sort_route, sort_route_parameters) }}"
            class="prezent-grid-sortable{% if sort_active %} prezent-grid-sort-{{ sort_active|lower }}{% endif %}"
        >
            {{ label|trans({}, label_translation_domain) }}
        </a>
    {% else %}
        {{ label|trans({}, label_translation_domain) }}
    {% endif %}
{% endblock %}

{%- block grid_boolean_widget -%}
    {{ column.getValue(item)|trans({}, 'PrezentGrid') }}
{%- endblock -%}

{%- block grid_action -%}
    <a href="{{ url }}">{{ label|trans({}, label_translation_domain) }}</a>
{%- endblock -%}
