{% extends 'grid.html.twig' %}

{% block grid_header_label %}
    {% if sort_route is defined and sort_route_parameters is defined %}
        <a
            href="{{ path(sort_route, sort_route_parameters) }}"
            class="prezent-grid-sortable"{% if sort_active %} data-sort-dir="{{ sort_active|lower }}"{% endif %}
        >
            {{ label|trans({}, label_translation_domain) }}
        </a>
    {% else %}
        {{ label|trans({}, label_translation_domain) }}
    {% endif %}
{% endblock %}

{%- block grid_widget -%}
    {% if route is defined %}
        <a href="{{ path(route, route_parameters) }}">{{ parent() }}</a>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock -%}

{%- block grid_boolean_widget -%}
    {{ value|trans({}, 'PrezentGrid') }}
{%- endblock -%}

{%- block grid_action -%}
    {% if route is defined %}
        <a href="{{ path(route, route_parameters) }}">{{ label|trans({}, label_translation_domain) }}</a>
    {% else %}
        <a href="{{ url }}">{{ label|trans({}, label_translation_domain) }}</a>
    {% endif %}
{%- endblock -%}
